.uploadButton{
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;

  margin-left: 3rem;
  background: white;
  box-shadow: 1px 1px 2px 1px grey;
  color: black;
  outline: none;
  border: none;
}

.uploadButton:hover{
  background-color: tomato;
  color: white;
}